/* Here is your custom css styles. */
/*代码块背景色*/
.code-area {
    background-color: rgb(43, 43, 43);
}

:not(pre) > code[class*=language-], pre[class*=language-] {
    background: rgb(43, 43, 43) !important;
}

/*代码块超出，滚动条隐藏*/
pre[class*=language-].line-numbers {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

/*toolbar透明度和距离右侧距离*/
div.code-toolbar > .toolbar {
    position: absolute;
    z-index: 10;
    top: 0.3em;
    right: 2.2em !important;
    transition: opacity .3s ease-in-out;
    opacity: 1 !important;
}

/*waline评论样式*/
.vheader input {
    padding: 0 !important;
}
/*输入框字体*/
body.DarkMode .v[data-class="v"] .vinput {
    color: #9d0000 !important;
}
/*去除评论区底部power by waline*/
.vpower {
    display: none;
}